bbutton{
    background-color: rgb(135, 137, 235);
    color:antiquewhite;
    padding-left:10px;
    padding-top:5px;
    padding-right:10px;
    padding-bottom:5px;
    /*padding: note only we can write only this code; */

}